@charset "UTF-8";

.container {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	background: white;
	padding: 20px;
	margin-top: 10px;
}

.container a, .container a:hover, .container a:active {
	color: #31BDEC !important;
	margin: 0 10px;
}

.box {
	width: 640px;
	height: 560px;
	margin: 0 auto;
	position: relative;
	background: #464646;
	padding-bottom: 1px;
	border-radius: 0;
	box-shadow: inset 0px 0px 10px 10px #464646;
	background-repeat: repeat;
	border: 6px solid #a2a5ac;
	padding: 10px;
}

.box .box-item {
	box-sizing: border-box;
	text-align: center;
	width: 40px;
	height: 40px;
}

.box .box-item div {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
}
/* 透明+走廊 */
.box .box-item div[data-role="0"] {
	background: transparent;
}
/* 墙壁 */
.box .box-item div[data-role="1"] {
	background: #838383;
	cursor: no-drop;
	border: 0 solid #53575a;
	border-radius: 2px;
	box-shadow: 0px 16px 8px 0px #303030;
	background: url(../images/wall.jpg) no-repeat center;
	background-size: cover;
}
/* 箱子原来的位置、人物踩原点 */
.box .box-item div[data-role="2"], .box .box-item div[data-role="5"].people2origin
	{
	color: #1bff00;
	border: 2px dashed #8c8e00;
	width: 34px;
	height: 34px;
	line-height: 34px;
	margin: 2px;
	border-radius: 8px;
	font-size: 14px;
	text-shadow: 0 0 5px #b3ffaa;
	box-shadow: inset 0 0 5px 1px #303030;
}

.box .box-item div[data-role="2"]:before {
	content: "\e617";
}

/* 箱子位置 */
.box .box-item div[data-role="3"] {
	box-shadow: 0px 16px 8px 0px #303030;
	background: url(../images/box.jpg) no-repeat center;
	background-size: cover;
}

/* 人的位置 */
.box .box-item div[data-role="5"] {
	background: url(../images/people.png) no-repeat center;
	background-size: auto 100%;
}

.lv-btn {
	width: 80px;
	height: 40px;
	background: #9fa4a8;
	box-shadow: 0 3px 3px 0px #86888d;
	margin: 10px 10px 10px auto;
	display: block;
	transition: box-shadow .5s;
	color: #ffffff;
	border: 1px solid #9a9ea2;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
}

.lv-btn:hover {
	box-shadow: 0 3px 3px #676b70;
	background: #92979b;
}

.kk_step span, .kk_time span {
	color: orange;
}

.opt-desc p {
	text-indent: 2em;
	margin-bottom: 4px;
	color: #999;
}
/**********扩展************/
.none {
	display: none !important;
}

.content {
	width: 672px;
	margin: 0 auto;
}

.controll {
	margin: 0 auto;
	text-align: center;
	position: relative;
	height: 60px;
	line-height: 60px;
}

.kk_level {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
}

.lv-btn {
	float: right;
	margin: 6px 0 0 10px;
}

.controll .kk_time, .controll .kk_step {
	font-size: 18px;
	margin-right: 30px;
	float: left;
}

.controll .kk_time span, .controll .kk_step span {
	color: orange;
	font-size: 18px;
}
/**********by layui.css***************/
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6,
	input, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.layui-col-space1>* {
	padding: .5px;
}

.layui-col-xs1, .layui-col-xs10, .layui-col-xs11, .layui-col-xs12,
	.layui-col-xs2, .layui-col-xs3, .layui-col-xs4, .layui-col-xs5,
	.layui-col-xs6, .layui-col-xs7, .layui-col-xs8, .layui-col-xs9 {
	float: left;
	position: relative;
	display: block;
}

.layui-elem-field {
	border-color: #e6e6e6;
}

.layui-field-title {
	margin: 10px 0 20px;
	border-width: 1px 0 0;
}

.layui-elem-field {
	padding: 0;
	border-style: solid;
}

.layui-elem-field legend {
	margin-left: 20px;
	padding: 0 10px;
	font-size: 20px;
	font-weight: 300;
}

.layui-elem-quote {
	margin-bottom: 10px;
	padding: 15px;
	line-height: 22px;
	border-left: 5px solid #009688;
	border-radius: 0 2px 2px 0;
	background-color: #f2f2f2;
}

/**********移动端（尝试）***************/
@media screen and (max-width: 672px) {
	.container {
		width: auto;
		margin: 0;
		padding: 0;
	}
	.container .content {
		min-width: 320px;
		width: 100%;
	}
	.container .box {
		width: 320px !important;
		height: 280px !important;
	}
	.container .box .box-item, .container .box .box-item div {
		width: 20px;
		height: 20px;
		line-height: 20px;
	}
	.container .box .box-item div[data-role="2"], .container .box .box-item div[data-role="5"].people2origin
		{
		width: 16px;
		height: 16px;
		line-height: 16px;
		margin: 1px;
		border-width: 1px;
		border-radius: 4px;
	}
	.controll {
		height: 110px;
		line-height: 35px;
	}
	.controll .kk_time, .controll .kk_step {
		font-size: 12px;
		margin-right: 15px;
	}
	.controll .lv-btn {
		width: 50px;
		height: 30px;
		font-size: 12px;
		letter-spacing: 0;
		float: none;
		display: inline-block;
	}
	.controll .kk_time, .controll .kk_step {
		float: none;
	}
	.opt-desc p {
		padding: 0 10px;
		font-size: 12px;
	}
}